#product-details {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 0 auto;
}

p {
    font-size: 16px;
    margin: 10px 0;
}

p strong {
    font-weight: bold;
    color: #333;
}

#error-message {
    margin-top: 10px;
}

.back-button {
    text-align: center;
    display: block; 
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    background-color: #aeb11d;
    color: #000000;
    font-weight: bold;
}