<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front decampoacampo</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <h1>Lista de Productos</h1>
    <div id="error-message" style="color: red; display: none;"></div>

    <div class="button-container">
        <button id="new-product-btn">Nuevo Producto</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio (ARS)</th>
                <th>Precio (USD)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="product-list">
            <!-- -->
        </tbody>
    </table>

    <script type="module" src="../js/index.js"></script>
</body>
</html>
